/* navigation */

.nav-container {
  padding: 20px;

  display: flex;

  align-items: center;

  justify-content: flex-start;
  column-gap: 1rem;

  margin: 0;

  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu {
  display: block;

  width: 40px;

  cursor: pointer;

  outline: none;

  appearance: none;

  background: none;

  border: none;

  z-index: 99;
}

.menu .bar,
.menu:before,
.menu:after {
  content: "";

  display: block;

  width: 100%;

  height: 5px;

  margin: 0 auto 5px;

  background-color: #000;

  transition: 0.5s ease-in-out;
}

.menu.is-active:before {
  transform: rotate(45deg) translate(8px, 6px);
}

.menu.is-active:after {
  transform: rotate(-45deg) translate(8px, -6px);
}

.menu.is-active .bar {
  transform: translate(-25px, 0px);
  opacity: 0;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav button {
  float: right;
}

.nav a {
  text-decoration: none;

  font-weight: 500;

  font-size: 25px;

  color: black;

  transition: 200ms ease-in-out;

  padding: 10px;
}

nav a:hover {
  color: aqua;
}

.mobile-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;

  background-color: #fff;
  width: 35%;
  height: 100vh;
  z-index: 99;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.m-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.m-nav a {
  text-decoration: none;

  font-weight: 700;

  font-size: 1rem;

  color: black;

  transition: 200ms ease-in-out;

  padding: 10px;
}

.mobile-nav.is-active {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;

  right: -100%;

  background-color: aqua;

  height: 100vh;
  transition: 0.4s ease-in-out;
}

.home-heading {
  text-align: center;

  margin: 2rem;
}

.home-article {
  text-align: start;
}

@media only screen and (max-width: 450px) {
  .nav {
    display: none;
  }
  .btn2 {
    display: none;
  }
  .btn1 {
    display: none;
  }
  .nav-container {
    background-color: transparent;
    box-shadow: none;
    appearance: none;
    margin: 0;
    padding: 0;
  }

  .card-item {
    width: 100%;
    height: fit-content;
  }

  .menu-container {
    background-color: #fff;
    width: 100%;
    height: 100px;
    padding: 20px;
    position: fixed;
    display: flex;
  }

  .menu-container button {
    margin-top: 2.5rem;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 440px) {
  .menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}

/* cards */

.card-container {
  height: 100vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: none;
}

.card-item {
  width: 100%;
  height: fit-content;
}
.quantity {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.img-fluid {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media only screen and (max-width: 450px) {
  .card-item {
    width: 100%;
    height: fit-content;
  }

  .img-fluid {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    object-fit: contain;
  }
}
#cart-item {
  height: 100vh;
  gap: 0.5rem;
  padding: 20px;
  overflow-y: scroll;
  z-index: 100;
}
.cart-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.cart-card {
  width: 50%;
  height: max-content;
}
#m-cart {
  width: 100px;
  margin-bottom: 0.5rem;
}
.total {
  position: fixed;
  bottom: 0;
  padding: 30px;
  padding-left: 15px;
  width: 100%;
  background-color: #fff;
}

.filter-container {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.1rem;
}

.filter-container select {
  width: 15%;
}

@media only screen and (max-width: 450px) {
  .filter-container {
    margin-top: 5rem;
  }
  .filter-container select {
    width: 50%;
  }
}

.update-quantity {
  width: 50%
